.carouselContainer-2 {
    width: 100%;
    height: 250px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    background-color: #1c272d;
    border-radius: 1.5rem;

}

.carouselTestimonial {
    width: 100%;
    /*height: 50px;*/
    animation: fade 1.5s;
    display: none;
    padding: 20px;

    font-family: Montserrat, sans-serif;
    color: #3282b8;
    font-size: 22px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.testimonialsTitle{
    text-align: center;
    font-size: 23px;
    font-weight: 600;
}

.testimonialText {
    animation: fade 1.5s ;
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: #3282b8;
    margin: auto;
    max-width: 80%;
}

.testimonialWideLogo{
    margin-top: -20px;
}


.prev, .next {
    position: absolute;
    top: 49%;
    cursor: pointer;
    color: #60c093;
    font-family: Montserrat, sans-serif;

}

.prev { left: 10px; }

.next { right: 10px; }


@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}