.carouselContainer {
    width: 60%;
    /*height: 60px;*/
    margin: 0 auto;
    position: relative;
    background-color: #1c272d;
    border-radius: 1.5rem;
    overflow: hidden;
  }
  .carouselTestimonial {
    width: 100%;
    /*height: 50px;*/
    animation: fade 1.5s;
    display: none;
    padding: 20px;

    font-family: Montserrat, sans-serif;
    color: #3282b8;
    font-size: 22px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }


  .prev, .next {
    position: absolute;
    top: 49%;
    cursor: pointer
  }
  .prev { left: 10px; }
  .next { right: 10px; }



    /*
  .slide2 { background-color: #577399; }
  .slide3 { background-color: #bdd5ea; }
  .slide4 { background-color: #f7f7ff; }

  */

  @keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
  }