.partners-section{
    width: 100%;
    box-sizing: border-box;

}

.partners-title{
    text-align: center;
}

.partners-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.partner-logo-container{
    width: 15vw;
    height: 15vw;
    max-height: 150px;
    max-width: 150px;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partner-logo-image {
    max-height: 100%;
    max-width: 100%;
    filter: invert(60%) sepia(44%) saturate(424%) hue-rotate(142deg) brightness(86%) contrast(90%);
}

.partner-logo-image:hover {
    filter: invert(72%) sepia(45%) saturate(386%) hue-rotate(100deg) brightness(86%) contrast(90%);
}

.partner-logo-image-cover{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.testimonials-section{
    width: 100%;
    box-sizing: border-box;

}

.testimonials-title{
    text-align: center;
}

.testimonials-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.partner-logo-container{
    width: 15vw;
    height: 15vw;
    max-height: 150px;
    max-width: 150px;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partner-logo-image {
    max-height: 100%;
    max-width: 100%;
    filter: invert(60%) sepia(44%) saturate(424%) hue-rotate(142deg) brightness(86%) contrast(90%);
}

.partner-logo-image:hover {
    filter: invert(72%) sepia(45%) saturate(386%) hue-rotate(100deg) brightness(86%) contrast(90%);
}

.partner-logo-image-cover{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
}

