body {
    font-family: "Montserrat", sans-serif;
    color: #529dad;
    background-color: #1c272d;

}



.content-box {
    width: 60%;
    margin: 0 auto;
    background-color: #1c272d;
}

h1 {
    color: #ffffff;
    font-weight: 1200;
}


h2 {
    color: #ffffff;
    font-weight: 1200;
}

a {
    color: white;
}

.note{ 
    font-size: 12px;
}
.header-img {
    margin: 0 auto;
}
.batches-table {
    border: solid 2px #529dad;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;

}